.posts {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}

post {
  margin: 1em;
}

.li__card--post{
  border: 1px solid rgb(90, 187, 243);
  border-radius: 0.25rem;
  display: grid;
  padding: 1.5%;
  background-color: #f9ffff;
}

