.new-user {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;

  &__form-field {
    margin-bottom: 1em;
    display: block;

    label, input{
      display: block;
    }
    .ng-touched {
      border-color: blue;

      &.ng-valid {
        border-color: green;
      }

      &.ng-invalid {
        border-color: red;
      }
    }
}
}