.main {
  text-align: center;

  &__actions {
    padding-top: 2em;

    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }
}
button {
  border-color: rgb(90, 187, 243);
  border-radius: 17%;
  width: 80px;
  height: 33px;
}
