<div class="users">
  <button (click)="sortUsers()" class="button__users--sort">Filter by Username!</button>
  <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Start searching for a user">
  <br>
  <h2><b>Users</b></h2>
  <button routerLink="new" mat-raised-button color="primary" class="button__users--new">
    Add new User
  </button>
  <ul *ngFor="let user of users | filter:searchText | paginate: { itemsPerPage: 7, currentPage: p }; ">
    <li>
      <user [user]='user'></user>
    </li>
  </ul> 
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
