.users {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}

user {
  margin: 1em;
}

.button__users--sort {
  position: absolute;
  right: 10%;
}

.button__users--new {
  position: absolute;
  right: 10%;
}